<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peiying.herra.mapper.TicketRecordMapper">
  <resultMap id="BaseResultMap" type="com.peiying.herra.po.TicketRecord">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="TicketId" jdbcType="BIGINT" property="ticketid" />
    <result column="ResponseDuration" jdbcType="BIGINT" property="responseduration" />
    <result column="SolvedDuration" jdbcType="BIGINT" property="solvedduration" />
    <result column="CiTicketClassId" jdbcType="INTEGER" property="citicketclassid" />
    <result column="CreateBy" jdbcType="VARCHAR" property="createby" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UpdateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.peiying.herra.po.TicketRecord">
    <result column="Solution" jdbcType="LONGVARCHAR" property="solution" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, TicketId, ResponseDuration, SolvedDuration, CiTicketClassId, CreateBy, CreateTime, 
    UpdateBy, UpdateTime
  </sql>
  <sql id="Blob_Column_List">
    Solution
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.peiying.herra.po.TicketRecordExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ticketrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.peiying.herra.po.TicketRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ticketrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ticketrecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ticketrecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peiying.herra.po.TicketRecordExample">
    delete from ticketrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peiying.herra.po.TicketRecord">
    insert into ticketrecord (Id, TicketId, ResponseDuration, 
      SolvedDuration, CiTicketClassId, CreateBy, 
      CreateTime, UpdateBy, UpdateTime, 
      Solution)
    values (#{id,jdbcType=BIGINT}, #{ticketid,jdbcType=BIGINT}, #{responseduration,jdbcType=BIGINT}, 
      #{solvedduration,jdbcType=BIGINT}, #{citicketclassid,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{solution,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peiying.herra.po.TicketRecord">
    insert into ticketrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="ticketid != null">
        TicketId,
      </if>
      <if test="responseduration != null">
        ResponseDuration,
      </if>
      <if test="solvedduration != null">
        SolvedDuration,
      </if>
      <if test="citicketclassid != null">
        CiTicketClassId,
      </if>
      <if test="createby != null">
        CreateBy,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="updateby != null">
        UpdateBy,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
      <if test="solution != null">
        Solution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ticketid != null">
        #{ticketid,jdbcType=BIGINT},
      </if>
      <if test="responseduration != null">
        #{responseduration,jdbcType=BIGINT},
      </if>
      <if test="solvedduration != null">
        #{solvedduration,jdbcType=BIGINT},
      </if>
      <if test="citicketclassid != null">
        #{citicketclassid,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="solution != null">
        #{solution,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peiying.herra.po.TicketRecordExample" resultType="java.lang.Long">
    select count(*) from ticketrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticketrecord
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ticketid != null">
        TicketId = #{record.ticketid,jdbcType=BIGINT},
      </if>
      <if test="record.responseduration != null">
        ResponseDuration = #{record.responseduration,jdbcType=BIGINT},
      </if>
      <if test="record.solvedduration != null">
        SolvedDuration = #{record.solvedduration,jdbcType=BIGINT},
      </if>
      <if test="record.citicketclassid != null">
        CiTicketClassId = #{record.citicketclassid,jdbcType=INTEGER},
      </if>
      <if test="record.createby != null">
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null">
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.solution != null">
        Solution = #{record.solution,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ticketrecord
    set Id = #{record.id,jdbcType=BIGINT},
      TicketId = #{record.ticketid,jdbcType=BIGINT},
      ResponseDuration = #{record.responseduration,jdbcType=BIGINT},
      SolvedDuration = #{record.solvedduration,jdbcType=BIGINT},
      CiTicketClassId = #{record.citicketclassid,jdbcType=INTEGER},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      Solution = #{record.solution,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticketrecord
    set Id = #{record.id,jdbcType=BIGINT},
      TicketId = #{record.ticketid,jdbcType=BIGINT},
      ResponseDuration = #{record.responseduration,jdbcType=BIGINT},
      SolvedDuration = #{record.solvedduration,jdbcType=BIGINT},
      CiTicketClassId = #{record.citicketclassid,jdbcType=INTEGER},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peiying.herra.po.TicketRecord">
    update ticketrecord
    <set>
      <if test="ticketid != null">
        TicketId = #{ticketid,jdbcType=BIGINT},
      </if>
      <if test="responseduration != null">
        ResponseDuration = #{responseduration,jdbcType=BIGINT},
      </if>
      <if test="solvedduration != null">
        SolvedDuration = #{solvedduration,jdbcType=BIGINT},
      </if>
      <if test="citicketclassid != null">
        CiTicketClassId = #{citicketclassid,jdbcType=INTEGER},
      </if>
      <if test="createby != null">
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="solution != null">
        Solution = #{solution,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.peiying.herra.po.TicketRecord">
    update ticketrecord
    set TicketId = #{ticketid,jdbcType=BIGINT},
      ResponseDuration = #{responseduration,jdbcType=BIGINT},
      SolvedDuration = #{solvedduration,jdbcType=BIGINT},
      CiTicketClassId = #{citicketclassid,jdbcType=INTEGER},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      Solution = #{solution,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peiying.herra.po.TicketRecord">
    update ticketrecord
    set TicketId = #{ticketid,jdbcType=BIGINT},
      ResponseDuration = #{responseduration,jdbcType=BIGINT},
      SolvedDuration = #{solvedduration,jdbcType=BIGINT},
      CiTicketClassId = #{citicketclassid,jdbcType=INTEGER},
      CreateBy = #{createby,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>