<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peiying.herra.mapper.UserAccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.peiying.herra.po.AccountInfo">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="userName" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="CreateBy" jdbcType="VARCHAR" property="createby" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UpdateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <insert id="add" parameterType="com.peiying.herra.po.AccountInfo">
	INSERT INTO UserAccountInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="userName != null">
        UserName,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="createby != null">
        CreateBy,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="updateby != null">
        UpdateBy,
      </if>
      <if test="updatetime != null">
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
</insert>
<select id="selectByUserNameAndPassword" parameterType="java.lang.String">
	SELECT * FROM UserAccountInfo
	WHERE
	UserName = #{userName,jdbcType=VARCHAR}
	AND
	Password =  #{password,jdbcType=VARCHAR}
</select>
</mapper>